@font-face {
  font-family: "OdinFont"; /*a name to be used later*/
  src: url("/font/Norse-Bold.otf"); /*URL to font*/
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.split {
  display: flex;
  height: 100vh;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40vw;
  background-image: url(/img/bg_plant.avif);
  background-size: cover;
  color: azure;
}

.logo {
  display: flex;
  margin-top: 20vh;
  height: 18vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.logo-img {
  margin: auto 0 auto auto;
  height: 15vh;
}

.logo-name {
  margin: auto auto auto 16px;
  font-family: "OdinFont";
  font-size: 4rem;
}

.banner-credit {
  margin: auto auto 1rem auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
