/* Reset CSS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset CSS */
@font-face {
  font-family: "OdinFont"; /*a name to be used later*/
  src: url("/font/Norse-Bold.otf"); /*URL to font*/
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.split {
  display: flex;
  height: 100vh;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40vw;
  background-image: url(/img/bg_plant.avif);
  background-size: cover;
  color: azure;
}

.header {
  display: flex;
  margin-top: 20vh;
  height: 18vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.logo {
  margin: auto 0 auto auto;
  height: 15vh;
}

.name {
  margin: auto auto auto 16px;
  font-family: "OdinFont";
  font-size: 4rem;
}

.footer {
  margin: auto auto 1rem auto;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
